/* poppins fonts */
  @font-face {
    font-family: Poppins-medium;
    src: url(Fonts/Poppins-Medium.ttf);
  }
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
display: none;
}
:root {
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
  --color-red: #ec1840;
  --body-color: #0a192d;
  --secondary-body-color: #0f233e;
  --main-color:  #55c1ff;
  --secondary-color: #7a18ec;
  --text-color: #b7b9cf;
  --secondary-text-color: #c8cae1;
  --gradient-primary: linear-gradient(270deg,#2196f3 20%,#00bcd4 80%);
  --gradient-secondary: linear-gradient(to right top, #715aff, #4376ff, #008cff, #009eff, #15aeff, #29b0ff, #36b2ff, #41b4ff, #38aaff, #3b9fff, #4794ff, #5887ff);
}

body {
  font-family: 'Poppins-medium', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  color: #fff;
  background-color: var(--body-color);
  line-height: 1.3;
}



/* Standards-styles */
.section {
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    margin: 0 auto;
    padding: 3rem 0;
    align-content: center;
    font-style: normal;
}
/* .heading::before {
  content: "1.";
  margin-right: 10px;
  font-weight: normal;
  color: var(--main-color);
  font-size: 30px;
} */
.heading {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 32px;
  margin: 0 auto;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  padding: 0.5rem 0;
}
.heading::after {
  content: "";
  display: block;
  height: 5px;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
  border-radius: 5px;
  background-image: var(--gradient-primary);
}
.text-link {
  color: var(--main-color);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.text-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  /* bottom: 0em; */
  background-color: var(--secondary-color);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  opacity: 0.5;
}
.text-link:hover::after, .text-link:focus::after, .text-link:active::after {
  width: 100%;
}
.text-link:hover {
  color: var(--secondary-color);
}
.button {
  position: relative;
  padding: 0.5rem;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: var(--speed-normal);
  border: 1px dashed var(--secondary-color) !important;
}
.button:hover {
  border: 1px dashed transparent;
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  color: white !important;
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate var(--speed-fast) steps(8) forwards;
}
.button:last-of-type {
  border: 1px solid var(--secondary-color);
}
.button:last-of-type:hover {
  background: var(--secondary-color) url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
}
@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

/* .button {
  background-image: var(--gradient-primary);
  color: #fff !important;
  width: fit-content;
  padding: 10px 10px;
  border-radius: 40px;
}
.button:hover {
  color: var(--body-color) !important;
} */


/* Homepage start */
#home-page {
  display: flex;
  flex-direction: column;
}
/* nav-bar start */
.nav-bar {
  padding: 4px 12px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--body-color);
  box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
}
.nav-bar .logo {
  width: 100px;
  height: 100%;
  margin-left: 25px;
}
.nav-bar .logo img {
  width: 50%;
  height: 90%;
}
.nav-bar .nav-links {
  width: 40%;
}


.nav-bar .nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.nav-bar .nav-links ul li a {
  color: var(--main-color);
  font-size: 14px;
}
.nav-bar .nav-links ul li a:hover {
  color: var(--secondary-color);
}
/* Nav-bar End */
/* Hero-section start */
.hero-section {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
#home-page .background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  opacity: 0.1;
  z-index: -99;
}
.hero-section .hero-content {
  width: 45%;
  z-index: 99;
}
.hero-content .hero-title {
  padding: 1.2rem 0;
}
.hero-content .hero-title .bef-title {
  color: var(--main-color);
  font-size: 1rem;
}
.hero-content .hero-title .title {
  font-size: 2.3rem;
  line-height: 1.5;
  letter-spacing: 1.5;
  /* background: radial-gradient( circle farthest-corner at center center, var(--main-color) , var(--secondary-color) ) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
/* Typewriter start */
.txt-type {
  font-weight: bold;
  color: var(--main-color);
  text-transform: uppercase;
}
.fas {
  color: var(--main-color);
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}
/**** this is the Pencil Erasing animation****/
.erasing-animation {
  animation-name: erasing;
  animation-duration: 2s;
}

@keyframes erasing {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(180deg);}
  60% {transform: rotate(180deg);}
  70% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
} 
  
/***this is the pencil writing animation*****/
.writing-animation {
  animation-name: writting;    
  animation-duration: 5.5s; 
}

@keyframes writting {
  0%  {transform: translate(0px,0px);}
  2%  {transform: translate(10px,-20px);}
  4%  {transform: translate(0px,0px);}
  6%  {transform: translate(10px,-20px);}
  8% {transform: translate(0px,0px);}
  10% {transform: translate(10px,-20px);}
  12% {transform: translate(0px,0px);}
  14% {transform: translate(10px,-20px);}
  16% {transform: translate(0px,0px);}
  18% {transform: translate(10px,-20px);}
  20% {transform: translate(0px,0px);}
  22% {transform: translate(10px,-20px);}
  24% {transform: translate(0px,0px);}
  26% {transform: translate(10px,-20px);}
  28% {transform: translate(0px,0px);}
  30% {transform: translate(10px,-20px);}
  32% {transform: translate(0px,0px);}
  34% {transform: translate(10px,-20px);}
  36% {transform: translate(0px,0px);}
  38% {transform: translate(10px,-20px);}
  40% {transform: translate(0px,0px);}
  42% {transform: translate(10px,-20px);}
  44% {transform: translate(0px,0px);}
  46% {transform: translate(10px,-20px);}
  48% {transform: translate(0px,0px);}
  50% {transform: translate(10px,-20px);}
  52% {transform: translate(0px,0px);}
  54% {transform: translate(10px,-20px);}
  56% {transform: translate(0px,0px);}
  58% {transform: translate(10px,-20px);}
  60% {transform: translate(0px,0px);}
  62% {transform: translate(10px,-20px);}
  64% {transform: translate(0px,0px);}
  66% {transform: translate(10px,-20px);}
  68%{transform: translate(0px,0px);}

  70% {transform: translate(10px,-20px);}
  72% {transform: translate(0px,0px);}
  74% {transform: translate(10px,-20px);}
  76% {transform: translate(0px,0px);}
  78% {transform: translate(10px,-20px);}
  80% {transform: translate(0px,0px);}
  82% {transform: translate(10px,-20px);}
  84% {transform: translate(0px,0px);}
  86% {transform: translate(10px,-20px);}
  88% {transform: translate(0px,0px);}
  90% {transform: translate(10px,-20px);}
  92% {transform: translate(0px,0px);}
  94% {transform: translate(10px,-20px);}
  96% {transform: translate(0px,0px);}
  98% {transform: translate(10px,-20px);}
  100% {transform: translate(0px,0px);}
  
  
}
/* Typewriter end */
.hero-content .intro {
  margin: 1.5rem 0;
  color: var(--secondary-text-color);
}
.hero-content .links {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  align-content: center;
  flex-wrap: nowrap;
}
.hero-content .links li {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 0 1.5rem;
}
.hero-content .links li a {
  font-size: 2rem;
  color: #fff;
}
.hero-content .links li a:hover {
  color: var(--secondary-color);
}

.hero-section .hero-img {
  width: 40%;
  height: 80%;
  z-index: 99;
}
.hero-section .hero-img img{
  width: 100%;
  height: 100%;
}
/* particles */
#particles-js {
  position: absolute;
  /* z-index: -1; */
  top: 10vh;
  opacity: 0.3;
  width: 100%;
  height: 90vh;
  /* background-image:
      linear-gradient(rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)); */
  background-position: center;
  background-size: cover;
}
/* Hero-section end */
/* Home-page end */

/* About Section start */
#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 3rem 0;
  align-content: center;
  background-color: var(--secondary-body-color);
}
#about .about-contianer {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
#about .about-content {
  width: 45%;
}
#about .about-content p {
  color: var(--secondary-text-color);
  line-height: 1.5;
  font-size: 15px;
}
#about .me-img {
  width: 40%;
  height: 85%;
  position: relative;
  max-width: 300px;
}
#about .me-img img{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.2s ease 0s;
  border-radius: 6px;
  z-index: 3;
  filter: grayscale(100%);
}
#about .me-img img:hover{
  filter: grayscale(0);
}
#about .me-img::after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border: 3px solid var(--main-color);
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 6px;
  transition: 500ms ease 0s;
}
#about .me-img:hover::after{
  top: 8px;
  left: 8px;
}

/* #about .me-img::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    inset: 0px;
    background-color: var(--main-color);
    mix-blend-mode: color-dodge;
} */
/* #about .me-img img:hover{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease 0s;
  filter: grayscale(0.2) contrast(1);
} */
/* About section ends */
/* Experience section start */
#experience {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* Projects section start */
#project {
  background-color: var(--secondary-body-color);
  height: max-content;
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  padding: 5rem;
}
.projects-container .project-card {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  justify-items: stretch;
}
.projects-container .project-card .project-img {
  grid-column: 1 / 8;
  box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -15px;
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  background-color: var(--main-color);
  mix-blend-mode: color-dodge;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
/* .projects-container .project-card .project-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0px;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  background-color: var(--main-color);
  mix-blend-mode: color-burn;
} */
.projects-container .project-card .project-img img {
  width: 100%;
  height: 90%;
  z-index: -1;
  border-radius: 4px;
  cursor: pointer;
}
.projects-container .project-card .project-img:hover {
  mix-blend-mode: normal;
}
.projects-container .project-card .project-description {
  grid-column: 7/ -1;
  text-align: left;
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}
.project-description .project-header {
  margin-bottom: 2rem;
}
.projects-container .project-card .project-header .project-title {
  display: block;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 5px;
  color: var(--secondary-text-color);
  text-transform: capitalize;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.projects-container .project-card .project-header .project-title:hover {
  color: var(--main-color);
}
.project-description .project-header .project-date {
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: bold;
}
.projects-container .project-card .project-description .project-info {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  position: relative;
  z-index: 2;
  padding: 25px;
  background-color: rgb(23, 42, 69);
  color: rgb(168, 178, 209);
  font-size: 18px;
  border-radius: 3px;
  box-shadow: rgb(2 12 27 / 70%) 0px 20px 30px -15px;
}
.projects-container .project-card .project-description .project-skills {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 25px 0px 10px;
    list-style: none;
}
.projects-container .project-card .project-description .project-skills li {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  color: rgb(100, 255, 218);
  margin-right: 20px;
  margin-bottom: 7px;
  white-space: nowrap;
}
/* project section end */
/* contact start */
#contact {
  font-style: normal;
  padding: 3rem 0;
}
.contact-container {
  margin: 0 auto;
  max-width: 80%;
  padding-bottom: 120px;
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.app__footer-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 4em 2rem 2rem;
  width: 80%;
}
.app__footer-cards .app__footer-card {
  align-items: center;
  background-color: #fef4f5;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 0;
  min-width: 290px;
  padding: 1rem;
  transition: all .3s ease-in-out;
}
.app__footer-cards .app__footer-card:hover {
  box-shadow: 0 0 25px #fef4f5;
}
.app__footer-cards .app__footer-card img {
  height: 40px;
  margin: 0 0.7rem;
  width: 40px;
}
.app__footer-cards .app__footer-card a {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}
@media screen and (max-width: 876px){
  .app__footer-cards .app__footer-card {
    width: 100%;
  }
  .app__footer-cards .app__footer-card:hover {
    box-shadow: 0 0 15px #fef4f5;
}
}

.app__footer-form {
  flex-direction: column;
  margin: 1rem 2rem;
  width: 80%;
}

.app__flex {
  align-items: center;
  display: flex;
}
.app__footer-form div {
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  margin: 0.75rem 0;
  transition: all .3s ease-in-out;
  width: 96%;
}
.app__footer-form div:hover {
  box-shadow: 0 0 25px #fef4f5;
}
.app__footer-form div input, .app__footer-form div textarea {
  background-color: var(--secondary-text-color);
  border: none;
  border-radius: 7px;
  color: #222;
  font-family: var(--font-base);
  outline: none;
  padding: 0.95rem;
  width: 100%;
}
.app__footer-form div textarea {
  height: 170px;
}
.app__footer-form button {
  font-family: 'Poppins-medium';
  margin-top: 0.5rem;
  padding: 0rem 0.5rem;
  color: var(--main-color);
  background-color: transparent;
}

/* contact end */
/* footer start */
.footer-content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  font-style: initial;
}
@media (min-width: 75rem) {
  .footer-content .container {
      margin: 0 auto;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 1200px;
}}
.footer-content .logo {
  height: 12em;
  margin: 2em auto;
  width: 12em;
}
.footer-content .logo img {
  display: block;
  height: 100%;
  width: 100%;
}
.footer-content .down-below {
  padding-top: 2rem;
  position: relative;
  width: 100%;
}
.footer-content .down-below:before {
  background-image: var(--gradient-primary);
  border-radius: 50%;
  content: "";
  display: block;
  height: 120rem;
  height: 200vw;
  left: 50%;
  margin-left: -100vw;
  position: absolute;
  top: 0;
  width: 120rem;
  width: 200vw;
  z-index: -1;
}
.footer-content .links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  flex-wrap: nowrap;
}
.footer-content .links li {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem;
}
.footer-content .links li a {
  font-size: 2.5rem;
  color: #fff;
}
.footer-content .links li a:hover {
  color: #2a2e33;
}
.to-top {
  border: none;
  border-radius: 50%;
  color: #212529;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  line-height: 4rem;
  margin-left: calc(50% - 2rem);
  text-align: center;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  width: 4rem;
}
.to-top:hover {
  color: #fff;
}
.copy-right {
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 35px;
  text-align: center;
}
.copy-right .love-symbol {
  color: red;
  font-size: 1rem;
}
/* footer end */


/* @background-color: #4684ee;
@loader-color: #fff;
@loader-size: 30vh; */

.preload {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  position: fixed;
  z-index: 1000;
}
.preload-finish {
    opacity: 0;
    pointer-events: none;
    transition-delay: 1s;
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 25vh;
  
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}



/* Quick Style Setup */
/* body {
  margin: 0;
  width: 100%;
  height: 700px;
  background: #f1f1f1
}
h1 {
  margin: 0;
  padding: 18px 20px;
  font-family: 'Open Sans', Helvetica;
  font-size: 30px;
}
p {
  position: inherit;
  width: 100%;
  top: 0;
  margin: 5px 0;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  cursor: pointer;
} */
/* Relative Code Starts Here */
.nav-menu {
  display: none;
  background: none;
  width: 60px;
  height: 80px;
  top: 0;
  right: 15px;
  -webkit-transition: width 0.2s ease, height 0.4s ease;
	-moz-transition: width 0.2s ease, height 0.4s ease;
	-o-transition: width 0.2s ease, height 0.4s ease;
	transition: width 0.2s ease, height 0.4s ease;
}
.open {
  position: fixed;
  background: var(--gradient-primary);
  width: 100%;
  z-index: 1000;
  height: 100%;
  top: 0;
  right: 0;
}
.menu-list {
  margin-top: 100px;
  text-align: center;
  font-size: 1.4rem;
  display: none;
}
.list-open {
  display: block;
  -webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.64s ease;
  -webkit-transition-delay: 0.34s;
  -moz-transition-delay: 0.34s;
  -o-transition-delay: 0.34s;
  transition-delay: 0.44s;
}
.menu-list li {
    padding: 10px;
    background: none;
    width: fit-content;
    margin: 0 auto;
    list-style: none;
}
.menu-list li a {
  color: #fff;
  cursor: pointer;
}
/* .menu-list li:hover {
  color: var(--main-color);
  cursor: pointer;
} */


/* Burger */
#burger-wrap {
  position: fixed;
  top: 0;
  right: 15px;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 80px;
}
.burger {
  position: fixed;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 80px;
  border-radius: 50%;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: transparent;
}
.burger span {
  display: block;
  position: absolute;
  top: 30px;
  left: 16px;
  right: 16px;
  height: 3px;
  background: #39D;
  border-radius: 15px;
  -webkit-transition: background 0.3s .3s;
  transition: background 0.3s .3s;
  -o-transition: background 0s 0s;
  -webkit-transition-delay: 0.4s,0s;
  transition-delay: 0.4s,0s;
}
.open .burger span {
  background: 0 0 transparent;
  transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -o-transition: all 0s ease;
	-webkit-transition-delay: 0s,0s;
	transition-delay: 0s,0s;
}
.burger span::after,
.burger span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #39D;
  content: "";
	border-radius: 5px;
  -webkit-transition-duration: .3s,.3s;
  transition-duration: .3s,.3s;
  -webkit-transition-delay: 0.4s,0s;
  transition-delay: 0.4s,0s;
}
.burger span::before {
  top: -8px;
  -webkit-transition-property: top,-webkit-transform;
  transition-property: top,transform;
}
.burger span::after {
  bottom: -8px;
  -webkit-transition-property: bottom,-webkit-transform;
  transition-property: bottom,transform;
}

.open .burger span::after,
.open .burger span::before {
  -webkit-transition-delay: 0s,.4s;
  transition-delay: 0s,.4s;
  background-color: #fafafa;
}
.open .burger span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open .burger span::after {
  bottom: 1px; /* Fix for codepen, set to zero for normal use */
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* Disable scrollbar on Chrome and Safari browsers! */
html::-webkit-scrollbar { width: 0 !important; height: 0 !important; }